<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.kesleymello.cenourapp"
        version="1.0.0">

    <name>Menu Só de Cenoura</name>

    <description>
        Menu do restaurante Só de Cenoura.
    </description>

    <author href="http://kesleymello.org" email="qualquer@kesleymello.org">
        Kesley Mello
    </author>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

    <preference name="android-minSdkVersion" value="16" />
    <platform name="android" />

    <icon src="icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />

</widget>